
    


#intro{
    padding:1rem;
    margin:auto;
    display:flex;
    align-items: center;
    background-color:lightblue;
  
}
@media  (min-width:768px) {
.navlist{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}  

.navlist li {
    margin: 1rem;
    list-style: none;
}
.navlist a{
    color:black;

}
nav{
    margin: auto;
}

#sample{
    margin:10%;
    
}
#footer{
    background-color: black;

}
h1,h3,p{
    color:white;
}
}
