#intro{
    padding:1rem;
    display:flex;
    align-items: center;
    background-color:lightblue;
}
.navlist{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
   
}
.navlist li {
    margin: 1rem;
    list-style: none;
}
.navlist a{
    color:black;

}
nav{
    margin: auto;
}
#sample{
    margin:10%;
}
